.NavLink{
    color: black;
    margin-right: 8px;
    text-decoration: none;
    font-weight: bold;
}


 .NavLink:hover,.activeclass{
    color: rgba(69, 71, 71, 0.452);
    text-decoration: none;

}
.navbar{
    outline: none;
}
.Navbar{
    background-color: #e6e1e3;
    height: 80px;
}